<div class="register-container mt-5">
        <h1 class="text-center">Login</h1>
        <form method="post" class="p-4" id="loginForm">
                <div class="item" id="item-1">
                        {{!-- <label for="username" class="col-1 form-label">Username: </label> --}}
                        <input class="form-control text-center m-auto w-50" name="username" id="username"
                                placeholder="Username" required />
                </div>
                <div class="item" id="item-2">
                        {{!-- <label for="password" class="col-1 form-label">Password: </label> --}}
                        <input class="form-control text-center m-auto w-50" name="password" id="password"
                                type="password" placeholder="Password" required />
                </div>

                <div class="item" id="item-6">
                        <button class="btn-style" type="submit">Login</button>
                        <a href="/auth/google">
                                <img class="google" src="/images/google.png" alt="Sign in with Google" />
                        </a>

                </div>

        </form>

        <hr class="w-50 m-auto text-center border-danger">

        <div>
                <p class="h5 m-4 mt-3"> Need an account? <a href="/auth/register" title="Register">Register</a> </p>
        </div>

</div>