<div class="register-container mt-5">
        <h1 class="text-center">Register</h1>
        <form method="post" class="p-4" id="loginForm">
        <fieldset>
                <label for="username" >Username: *</label>
                <input name="username" id="username" required type="email" placeholder="email@email.com" />
        </fieldset>
        <fieldset>
                <label for="password" >Password: *</label>
                <input name="password" id="password" type="password" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                {{!-- <img src="/images/show.png" alt="Show/Hide" id="imgShowHide" onclick="showHide()" /> --}}
        </fieldset>
        <fieldset>
                <label for="confirm" >Confirm: *</label>
                <input name="confirm" id="confirm" type="password" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onkeyup="return comparePasswords()" />
                <span id="pwMsg"></span>
        </fieldset>
        <fieldset class="mt-3">
                <select class="form-control text-center m-auto w-75" name="userRole" id="userRole" required>
                        <option value="">Select A User Role</option>
                        <option value="Student">Student</option>
                        <option value="Educator">Educator</option>
                        <option value="HTRFaculty">HTR Faculty</option>
                        <option value="CommunityMember">Community Member</option>
                </select>
        </fieldset>
        <fieldset class="text-center mt-3">
                <button class="btn-style mt-2" onclick="return comparePasswords()">Register</button>

                <div class="SignIn item d-block text-center">
                                <a href="/auth/google" class="mt-3">
                                        <img src="/images/google-icon.svg" alt="google-logo" />
                                        <span>Sign In</span>
                                </a>
                        
                </div>

                <hr />
                Already have an account?
                <a href="/auth/login" title="Login">Login</a>
        </fieldset>
</form>