<div class="register-container mt-5">
        <h1 class="text-center">Login</h1>
        <form method="post" class="p-4" id="loginForm">
        <fieldset>
                <label for="username" >Username: *</label>
                <input name="username" id="username" required type="email" placeholder="email@email.com" />
        </fieldset>
        <fieldset>
                <label for="password" >Password: *</label>
                <input name="password" id="password" type="password" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                {{!-- <img src="/images/show.png" alt="Show/Hide" id="imgShowHide" onclick="showHide()" /> --}}
        </fieldset>
        <fieldset>
                <label for="confirm" >Confirm: *</label>
                <input name="confirm" id="confirm" type="password" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onkeyup="return comparePasswords()" />
                <span id="pwMsg"></span>
        </fieldset>
        <fieldset>
                <button class="btn-style" onclick="return comparePasswords()">Register</button>

                <div class="SignIn">
                        <div>
                                <a href="/auth/google">
                                        <img src="/images/google-icon.svg" alt="google-logo" />
                                        <span>Sign In</span>
                                </a>
                        </div>

                        <div>
                                <a href="/auth/facebook">
                                        <img src="/images/facebook-icon.svg" alt="facebook-logo" />
                                        <span>Sign In</span>
                                </a>
                        </div>
                </div>

                <hr />
                Already have an account?
                <a href="/auth/login" title="Login">Login</a>
        </fieldset>
</form>