<h1>Total CO2e Emissions by Country in the Waste Sector</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Total CO2e Emissions (kt)</th>
    </tr>
  </thead>
  <tbody>
    {{#each emissionsData}}
      <tr>
        <td>{{this.country}}</td>
        <td>{{this.emissions}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
