

<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <h3 class="title">About CCSI</h3>
                        <h2>Building Sustainable Communities: Empowering Change through Innovation and Collaboration
                        </h2>
                    </div>
                    <p class="text">At our core, we are dedicated to building sustainable communities that empower
                        positive change through innovation and collaboration. We believe that every individual and
                        organization has the potential to make a meaningful impact on the world around us. That's why we
                        have created a space where people can come together to share ideas, develop new approaches, and
                        work towards a common goal of building a better future for all.</p>
                    <div class="btn-box">
                        <a href="#" class="theme-btn btn-style-one">Know More</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                        <h2>Centre for Changemaking and Social Innovation (CCSI) </h2>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="CCSI"
                                id="about" src="images/about-us-home.jpg" alt=""></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Mission-->

<section class="below-fold">
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
        <div class="col">
            <div class="card h-100">
                <img src="./images/our goal.png" class="card-img-top img-fluid" alt=" our goal image">
                <div class="card-body">
                    <h5 class="card-title">Our Goal</h5>
                    <p class="card-text">
                        Our goal is to reduce carbon emissions by tracking and sharing the impact of climate action initiatives, such as reducing food miles,
                        composting, growing food on campus, reducing waste, and using reusable plastics. By working collaboratively and promoting
                        sustainable practices, we aim to inspire positive change and create a more sustainable future for our community and beyond.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="./images/Partenrship.png" class="card-img-top img-fluid" alt="hand shake logo">
                <div class="card-body">
                    <h5 class="card-title">Who We Are</h5>
                    <p class="card-text">
                        At the Centre for Changemaking and Social Innovation (CCSI), in partnership with Climate Action Lab, Georgian
                        College Hospitality Tourism and Recreation, and Drawdown Toronto, we are dedicated to raising awareness
                        about the impact of food-related emissions in our campus and local areas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Team section-->
<section class="team-section">
    <div class='container mx-auto mt-5 col-md-10 mt-100'>
        <div class="header">
            <div class="title">Meet OurTeam</div>
            <p><small class="text-muted">Lorem Ipsum dolor samet</p>
        </div>
        <div class="row justify-content-center pb-5 team-list">
            <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
                        <div class="card-title mt-4"> Name of Person<br /> <small>Position</small> </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</small> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
                        <div class="card-title mt-4"> Name of Person<br /> <small>Position</small> </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </small> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
                        <div class="card-title mt-4"> Name of Person<br /> <small>Position</small> </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </small> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>