<h1 class="display-1 text-center fw-bold mb-3">About Us</h1>

<section class="about-section">
    <div class="container ">
        <!-- top about CCSI box -->
        <div class="row align-items-center rounded-3 border shadow-lg p-4">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <h3 class="title">About CCSI</h3>
                        <h2>Building Sustainable Communities: Empowering Change through
                            Innovation and Collaboration
                        </h2>
                    </div>
                    <p class="text">At our core, we are dedicated to building sustainable
                        communities that empower positive change through innovation and
                        collaboration. We believe that every individual and organization has
                        the potential to make a meaningful impact on the world around us.
                        That's why we have created a space where people can come together to
                        share ideas, develop new approaches, and work towards a common goal
                        of building a better future for all.</p>
                </div>
            </div>
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="CCSI"
                                id="about" src="images/about-us-home.jpg" alt="" /></a></figure>
                </div>
            </div>
        </div>
        <!-- new row for goals mission and vision-->
        <div class="row align-items-center rounded-3 border shadow-lg mt-4 p-4">
            <section class="author">
                <!-- Goals SECTION -->
                <h1 class="display-1 text-center my-2 pb-4"> Who are We?</h1>
                <!-- goal one -->
                <div class="row">
                    <div class="col-4">
                        <img src="images/goals.jpg" class="rounded" style="max-width: 100%;">
                    </div>
                    <div class="col-8 my-4">
                        <h1 class="text-primary">Our Goals</h1>
                        <p class="lead"> Our goal is to reduce carbon emissions by tracking and sharing the impact of
                            climate action initiatives, such as reducing food miles, composting, growing food on campus,
                            reducing waste, and using reusable plastics. By working collaboratively and promoting
                            sustainable practices, we aim to inspire positive change and create a more sustainable
                            future for our community and beyond.
                        </p>
                        <p class="lead">We strive to create an environment that encourages and supports innovative
                            ideas, approaches, and solutions that address social, economic, and environmental
                            sustainability challenges. We seek to empower individuals and organizations to think
                            critically, explore new possibilities, and develop creative strategies for positive change.
                        </p>
                        <hr />
                    </div>

                </div>
                <!-- goal 2 -->
                <div class="row">
                    <div class="col-8 my-4">
                        <h1 class="text-primary">Our Vision</h1>
                        <p class="lead"> Our vision is to be a recognized leader in empowering individuals and
                            organizations to drive sustainable change through innovation and collaboration. We envision
                            a future where communities and economies are thriving, resilient, and equitable, with a deep
                            commitment to social, economic, and environmental sustainability. We aspire to foster a
                            culture of creativity, critical thinking, and systemic design, where individuals and
                            organizations come together to develop and implement innovative solutions to address
                            pressing global challenges. Our vision is to empower change agents, build partnerships, and
                            promote sustainable practices that contribute to a more just, inclusive, and sustainable
                            world for present and future generations.
                        </p>
                        <hr />
                    </div>
                    <div class="col-4">
                        <img src="images/vision2.png" class="rounded" style="max-width: 100%;">
                    </div>
                </div>
                <!-- goal 3 -->
                <div class="row">
                    <div class="col-4">
                        <img src="images/mission.png" class="rounded" style="max-width: 100%;">
                    </div>
                    <div class="col-8 my-4">
                        <h1 class="text-primary">Our Mission</h1>
                        <p class="lead"> Our mission is to empower individuals and organizations to be agents of change
                            in building sustainable communities through innovation and collaboration. We believe in
                            harnessing the power of collective action to create a positive impact on social, economic,
                            and environmental sustainability.
                        </p>
                        <p class="lead">
                            Through our initiatives and partnerships, we strive to foster a culture of creativity,
                            critical thinking, and systemic design that addresses the challenges of our time. We are
                            committed to empowering students, faculty, and key stakeholders to pilot and adapt
                            sustainable measures, such as those found within the Drawdown framework, to our regional
                            contexts. Together, we aim to create a more just, resilient, and sustainable world for
                            present and future generations.</p>
                        <hr />
                    </div>
                </div>
            </section>
        </div>

        <!-- team section -->
        <div class="team-body pt-5 mt-5">
            <h1 class="display-1  my-2 pb-4"> The TEAM</h1>
            <div class="team-card">
                <img class="team-member-image p-1" src="images/alisha.jpeg">
                <div class="tm-description">
                    <p class="name text-black display-6">Yashsvi</p>
                    <p class="designation text-primary">Project Manager & Developer</p>
                </div>
            </div>
            <div class="team-card">
                <img class="team-member-image p-1" src="images/viraj.jpeg">
                <div class="tm-description">
                    <p class="name text-black display-6">Viraj</p>
                    <p class="designation text-primary">Full-Stack Developer</p>
                </div>
            </div>
            <div class="team-card">
                <img class="team-member-image p-1" src="images/raman2.jpg">
                <div class="tm-description">
                    <p class="name text-black display-6">Raman</p>
                    <p class="designation text-primary">Developer & Tester</p>
                </div>
            </div>
            <div class="team-card">
                <img class="team-member-image p-1" src="images/jashan.jpg">
                <div class="tm-description">
                    <p class="name text-black display-6">Jashan</p>
                    <p class="designation text-primary">UI/UX Designer</p>
                </div>
            </div>
        </div>
        <!-- team section ends -->
    </div>
</section>