

<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <h3 class="title">About CCSI</h3>
                        <h2>Building Sustainable Communities: Empowering Change through Innovation and Collaboration
                        </h2>
                    </div>
                    <p class="text">At our core, we are dedicated to building sustainable communities that empower
                        positive change through innovation and collaboration. We believe that every individual and
                        organization has the potential to make a meaningful impact on the world around us. That's why we
                        have created a space where people can come together to share ideas, develop new approaches, and
                        work towards a common goal of building a better future for all.</p>
                    <div class="btn-box">
                        <a href="#" class="btn-style">Know More</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                        <h2>Centre for Changemaking and Social Innovation (CCSI) </h2>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="CCSI"
                                id="about" src="images/about-us-home.jpg" alt=""></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>