<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <h3 class="title">About CCSI</h3>
                        <h2>Building Sustainable Communities: Empowering Change through Innovation and Collaboration
                        </h2>
                    </div>
                    <p class="text">At our core, we are dedicated to building sustainable communities that empower
                        positive change through innovation and collaboration. We believe that every individual and
                        organization has the potential to make a meaningful impact on the world around us. That's why we
                        have created a space where people can come together to share ideas, develop new approaches, and
                        work towards a common goal of building a better future for all.</p>
                    <div class="btn-box">
                        <a href="#" class="btn-style">Know More</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                        <h2>Centre for Changemaking and Social Innovation (CCSI) </h2>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="CCSI"
                                id="about" src="images/about-us-home.jpg" alt=""></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Mission-->

<section class="below-fold">
    <div class="py-5 mission">
        <div class="container">
            <div class="row wrap-mission">
                <div class="col-md-7 align-self-center">
                    <div class="max-box">
                        <span class="badge badge-info rounded-pill px-3 py-1 font-weight-light">Our Goal</span>
                        <h3 class="mt-3">Reducing Food Emissions: A Guide to Sustainable Eating </h3>
                        <p class="mt-3">Our goal is to reduce carbon emissions by tracking and sharing the impact of
                            climate action initiatives, such as reducing food miles, composting, growing food on campus,
                            reducing waste, and using reusable plastics. By working collaboratively and promoting
                            sustainable practices, we aim to inspire positive change and create a more sustainable
                            future for our community and beyond.</p>

                    </div>
                </div>
                <div class="col-md-5 col-md-5">
                    <img src="/images/cornsnack.svg" class="img-fluid" />
                </div>
            </div>
            <div class="row wrap-misison mt-4 pt-3">
                <div class="col-md-6">
                    <img src="/images/population.svg" class="img-fluid" />
                </div>
                <div class="col-md-6 align-self-center">
                    <span class="badge badge-info rounded-pill px-3 py-1 font-weight-light">Who We Are</span>
                    <h3 class="mt-3"> Our Team and Commitment to Fighting Food Emissions</h3>
                    <p class="mt-3">At the Centre for Changemaking and Social Innovation (CCSI), in partnership with
                        Climate Action Lab, Georgian College Hospitality Tourism and Recreation, and Drawdown Toronto,
                        we are dedicated to raising awareness about the impact of food-related emissions in our campus
                        and local areas.</p>
                        <p>By educating individuals about the impact of their food choices and providing guidance on how to make more sustainable decisions, we aim to inspire positive change towards a more sustainable food future. Our website is dedicated to promoting plant-based diets, reducing food waste, and supporting local and sustainable food production. Our ultimate goal is to empower individuals to take action in their daily lives to reduce food emissions and contribute to a healthier planet for future generations.</p>

                </div>
            </div>
        </div>
    </div>
</section>

<!--Team section-->
<section class="team-section">
    <div class='container mx-auto mt-5 col-md-10 mt-100'>
        <div class="header">
            <div class="title">Meet OurTeam</div>
            <p><small class="text-muted">Lorem Ipsum dolor samet</p>
        </div>
        <div class="row justify-content-center pb-5 team-list">
            <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img
                                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
                        <div class="card-title mt-4"> Name of Person<br /> <small>Position</small> </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                    since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.</small> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img
                                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
                        <div class="card-title mt-4"> Name of Person<br /> <small>Position</small> </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                    since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book. </small> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img
                                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
                        <div class="card-title mt-4"> Name of Person<br /> <small>Position</small> </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                    since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book. </small> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>