<!-- HERO -->
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">CCSI Food Emissions</h1>
            <p class="lead">Welcome to Green Gauge! We are dedicated to providing you with information on the
                environmental impact of the foods you eat. By making informed choices about what we consume, we can all
                play a part in reducing our carbon footprint and protecting the planet for future generations.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
               <a href="/about"><button type="button" href="/about" class="btn btn-blue btn-lg px-4 me-md-2">Explore</button></a>
                <a href="/auth/login"><button type="button"  class="btn btn-flare-outline btn-lg px-4">Join Us</button></a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="images/breakfast-1804457_1920.jpg" alt="vegetables image" width="720">
        </div>
    </div>
</div>
<!--BELOW THE FOLD-->
<div class="container my-5 pb-5 mb-3">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <h1 class="display-4 fw-bold lh-1">What's your Carbon Footprint?</h1>
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">What is your car's MPG?</p>
            <input id='mpg' class='p-2 mb-3' type='number' placeholder='Insert MPG' />
            <p class="lead">What is the total commute distance?</p>
            <input id='dist' class='p-2 mb-3' type='number' placeholder='Insert Distance' />
            <p class="lead">How often is this trip per week?</p>
            <input id='trips' class='p-2 mb-3' type='number' placeholder='Insert Trips' />
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <button type="button" class="btn btn-flare btn-lg px-4 me-md-2" onclick='calcCO2()'>Calculate Carbon
                    Footprint</button>
            </div>
        </div>
        <div class="col-lg-4 text-center mb-4" id="calcBar">
            <h5 class="card-title">Your Carbon Footprint is:</h5>
            <h6 class="card-subtitle mb-2"> <span id='result4'> </span>g CO2e / mile</h6>
            <h5 class="card-text">Your Carbon Footprint for</h5>
            <h6>Trip : <span id='result'></span>kg CO2e</h6>
            <h6>Week : <span id='result2'></span>kg CO2e</h6>
            <h6>Year : <span id='result3'></span>kg CO2e</h6>
        </div>
    </div>
</div>


<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <h3 class="title">About CCSI</h3>
                        <h2>Building Sustainable Communities: Empowering Change through Innovation and Collaboration
                        </h2>
                    </div>
                    <p class="text">At our core, we are dedicated to building sustainable communities that empower
                        positive change through innovation and collaboration. We believe that every individual and
                        organization has the potential to make a meaningful impact on the world around us. That's why we
                        have created a space where people can come together to share ideas, develop new approaches, and
                        work towards a common goal of building a better future for all.</p>
                    <div class="btn-box">
                        <a href="/about" class="theme-btn btn-style-one">Know More</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                        <h2>Centre for Changemaking and Social Innovation (CCSI) </h2>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="CCSI"
                                id="about" src="images/about-us-home.jpg" alt=""></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>