@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Raleway:wght@500;700;900&family=Roboto:wght@500;700;900&display=swap');

* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
th {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700;

}

p,
a,
li {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 700;

}

.box {
  padding: 1rem;
}

.navbar-dark {
  background: linear-gradient(90deg,
      #0575e6,
      #021b79) !important;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif !important;
  font-size: 1.5rem;
  font-weight: 700;
}

.dropdown-menu {

  border: none;
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
  border-radius: 0.8rem;
  outline: none;

}

.dropdown-menu a:hover {
  background: #ccc;
}


.dropdown-menu a {
  padding: 0.5rem 1rem;
  color: #0E1111 !important;

}


.user-banner {
  /* display: inline; */
  display: block;
  /* padding: 0px 10px; */
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 1rem;
  background-color: #FFC107 !important;
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
  color: #fff;
}

.box {
  min-height: 100vh;
}

label {
  min-width: 100px;
  margin: 8px 0;
}

input {
  border: none;
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
  border-radius: 2rem;
  padding: 3px 8px;
}

.btn-style {
  border-radius: 2rem;
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
  padding: 10px 20px;
  margin-top: 5px;
  /* margin-left: 250px; */
  color: #fff;

  border: none;
  background-image: linear-gradient(90deg,
      #f12711,
      #f5af19);
}





option,
select {
  border: none;
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
  border-radius: 2rem;
  padding: 3px 5px;
}

textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
  border-radius: 1rem;
  padding: 3px 5px;
  resize: none;

}

.formfield {
  display: flex;
}



/* HOMEPAGE CSS - ALISHA */

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}



/** UNIVERSAL CSS SETUP*/
/** BUTTONS */
.btn-blue-outline {
  border: #0575E6 1px solid;
}

.btn-blue {
  background-image: linear-gradient(40deg, #0575E6, #021B79);
  color: white;
}

.btn-blue:hover {
  background-image: linear-gradient(40deg, #021B79, #0575E6);
  color: white;
}

.btn-flare-outline {
  border: #f12711 1px solid;
}

.btn-flare {
  background-image: linear-gradient(40deg, #f12711, #f5af19);
  color: white;
}

.btn-flare:hover {
  background-image: linear-gradient(40deg, #f5af19, #f12711);
  color: white;
}

/**Gradient BG CSS*/
.blue,
footer>.blue {
  background-image: linear-gradient(40deg, #0575E6, #021B79);
  color: white;
}

.flare,
footer>.flare {
  background-image: linear-gradient(40deg, #f12711, #f5af19);
  color: white;
}

/**HOMEPAGE CSS*/
.logo {
  width: 80px;
  height: auto;
}

/** About us in HomePage*/
img#about {
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
}

.sec-title {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}

.sec-title .title {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #00aeef;
  font-weight: 500;
  margin-bottom: 15px;
}

.sec-title h2 {
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 1.28em;
  color: #222222;
  font-weight: 600;
  padding-bottom: 18px;
}

.sec-title .text {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-weight: 400;
  margin-top: 35px;
}

.sec-title.light h2 {
  color: #ffffff;
}

.sec-title.text-center h2:before {
  left: 50%;
  margin-left: -25px;
}

.list-style-one {
  position: relative;
}

.list-style-one li {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
  font-weight: 400;
  padding-left: 35px;
  margin-bottom: 12px;
}

.list-style-one li:before {
  content: "\f058";
  position: absolute;
  left: 0;
  top: 0px;
  display: block;
  font-size: 18px;
  padding: 0px;
  color: #ff2222;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1.6;
  font-family: "Font Awesome 5 Free";
}

.list-style-one li a:hover {
  color: #44bce2;
}

.btn-style-one {
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 30px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  background-image: linear-gradient(40deg, #0575E6, #021B79);
}

.btn-style-one:hover {
  background-color: #0794c9;
  color: #ffffff;
}

/* Homepage About section */
.about-section {
  position: relative;
  
}

.about-section .sec-title {
  margin-bottom: 45px;
}

.about-section .content-column {
  position: relative;
  margin-bottom: 50px;
}

.about-section .content-column .inner-column {
  position: relative;
  padding-left: 30px;
}

.about-section .text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-weight: 400;
}

.about-section .list-style-one {
  margin-bottom: 45px;
}

.about-section .btn-box {
  position: relative;
}

.about-section .btn-box a {
  padding: 15px 50px;
}

.about-section .image-column {
  position: relative;
}

.about-section .image-column .text-layer {
  position: absolute;
  right: -110px;
  top: 50%;
  font-size: 325px;
  line-height: 1em;
  color: #ffffff;
  margin-top: -175px;
  font-weight: 500;
}

.about-section .image-column .inner-column {
  position: relative;
  padding-left: 80px;
  padding-bottom: 0px;
}

.about-section .image-column .inner-column .author-desc {
  position: absolute;
  bottom: 16px;
  z-index: 1;
  background-image: linear-gradient(40deg, #f12711, #f5af19);
  padding: 10px 15px;
  left: 96px;
  width: calc(100% - 152px);
  border-radius: 50px;
}

.about-section .image-column .inner-column .author-desc h2 {
  font-size: 21px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  margin: 0;
}

.about-section .image-column .inner-column .author-desc span {
  font-size: 16px;
  letter-spacing: 6px;
  text-align: center;
  color: #fff;
  display: block;
  font-weight: 400;
}

/* .about-section .image-column .inner-column:before {
  content: '';
  position: absolute;
  width: calc(50% + 80px);
  height: calc(100% + 160px);
  top: -80px;
  left: -3px;
  background: transparent;
  z-index: 0;
  border: 44px solid #0575E6;
} */

.about-section .image-column .image-1 {
  position: relative;
}

.about-section .image-column .image-2 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img {
  box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
  border-radius: 46px;
}

.about-section .image-column .video-link {
  position: absolute;
  left: 70px;
  top: 170px;
}

.about-section .image-column .video-link .link {
  position: relative;
  display: block;
  font-size: 22px;
  color: #191e34;
  font-weight: 400;
  text-align: center;
  height: 100px;
  width: 100px;
  line-height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* HOME CANADA MAPS CSS */
.custommargin{
  margin-top: 50px;
}
#canadaMap {
  width: 60vw;
  margin: 0 auto;
  display: block;
  padding-top:10vh;
}
svg {
 fill: lightgrey;
}
#NFL_L{
  fill:Indigo;
  color:Indigo;
}
#BC{
  fill: Salmon;
  color: Salmon;
}
#Nova_Scotia{
  fill: sandybrown;
  color: sandybrown;
}
#Quebec{
  fill:lightcoral;
  color:lightcoral;
}
#Ontario{
  fill:lightseagreen;
  color:lightseagreen;
}
#Yukon{
  fill: #DC143C;
  color: #DC143C;
}
#NWT{
  fill:orange;
  color:orange;
}
#Nunavut{
  fill:yellow;
  color:yellow;
}
#PEI{
  fill:#800000;
  color:#800000;
}
#New_Brunswick{
  fill:#AFEEEE;
  color:#AFEEEE;
}
#Manitoba{
  fill:#7CFC00;
  color:#7CFC00;
}
#Sask{
  fill: turquoise;
  color: turquoise;
}
#Alberta{
  fill: #9932CC;
  color: #9932CC;
}
#svg2:hover{ 
 fill:#f5af19;
 cursor: pointer;
}
.province_text{
 font-size:11px;
 fill:black;}
.st2{fill:none;}
.st3{font-family:'MyriadPro-Regular';}
.st5{fill:#FFFFFF;}
.st6{fill:black;}




/**BLOG CSS*/


.blog-post {
  box-sizing: border-box !important;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 2rem;
  margin: 2rem 0;
  font-family: Quicksand, sans-serif !important;
}

.blog-post-info {
  padding: 0 0.5rem;
}


.blog-post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10rem;
  display: block;
  filter: drop-shadow(3px 6px 4px #48484893);
}

.blog-post-author span {
  display: block;
  color: #00000080;
  font-size: 1.2rem;
  font-weight: 400;
}

.blog-post-title {
  font-size: 2.5rem;
  margin: 1.1rem 0 2rem;
}

.blog-post-text {
  margin: 3rem 0;
  font-size: 1.2rem;
  color: #000000b3;
}

.blog-post-cta {
  display: inline-block;
  padding: 1.1rem 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.0rem;
  color: #fff;
  text-decoration: none;
  border-radius: 2rem;
  background: linear-gradient(to right, #f12711, #f5af19 100%);
}

.blog-post-cta:hover {
  transition: all 0.8s ease-out;
  background: linear-gradient(to right, #f5af19, #f12711 100%);
}

@media (min-width: 768px) {
  div#blog {
    max-width: 960px !important;
  }
}

#createBlog {
  font-size: 16px;
}



/* Viraj - LOGIN AND REGISTRATION CSS */

.nav-link {
  font-size: 16px;

  color: #ecebeb !important;
}

.homeLink>a {
  font-size: 30px;
}

#authLink>li {
  margin: 5px;
  border-radius: 3px;
  background-color: #25d097;
  background-image: linear-gradient(60deg, #1db070 30%, #1d379a);
}


#loginAuth {
  margin: auto;
  text-align: center;
  margin: 5em auto;
}

#loginAuth>form {
  font-size: 15px;
}

#title {
  color: white;
  padding: 2px;
  margin: 0;
  background-image: linear-gradient(40deg, #f12711, #f5af19);
}

/* #regTitle{
  color: white;
  padding: 2px;
  margin: 0;  
  background-image: linear-gradient(40deg, #3af300, #1b7300);
}

#registerForm input, #loginForm input {
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #d0d0d0;
}

#registerForm select {
  border: 1px solid #d0d0d0;
} */


thead {
  color: white;
  background-image: linear-gradient(40deg, #f12711, #f5af19);
}



div.register-container {
  
  padding: 1rem;

  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  min-height: 380px;
  height: auto;
  width: 400px;

  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* padding-bottom: 10px; */
}

div.item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

div.item input {
  font-family: "Quicksand", sans-serif;
  width: 250px !important;
  align-items: center;

  border: none;
  border-radius: 16px;
  padding: 4px 6px;

}

#item-6{
  display: flex;
  height: 140px;
  flex-direction: column;
}
#item-6 a{
  display: inline-block;
}


div.item select {
  font-family: "Quicksand", sans-serif;
  border: none;
  border-radius: 16px;
  padding: 5px;
  width: 180px !important;
  /* display: inline-block; */
}




.btn-style {
  border-radius: 2rem;
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
  padding: 5px 10px;
  /* margin-top: 5px; */
  font-family: "Quicksand", sans-serif;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  background-color: #FFC107;
}




.google {
  height: 60%;
  display: block;
  margin: 5px;
  display: block;
  cursor: pointer;
  /* max-width: 20% !important; */
  filter: drop-shadow(2px 2px 2px #ccc);

}