<h1>Create Blog</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem fuga nam facere totam dolorem quae quia ut laborum
    molestiae at!</p>

<form method="post">


    <fieldset>
        <label for="title">Title: *</label>
        <input type="text" name="title" id="title" required />
    </fieldset>

    <fieldset>
        <div class="formfield">
            <label for="description">Description: *</label>
            <textarea id="description" name="description"></textarea>
        </div>

    </fieldset>


    <div class="button">
        <button class="btn-style">Save</button>
    </div>
    
    
</form>